<nav class="menu" role="navigation" aria-label="Main menu">
  <div id="menuToggle">
    <input type="checkbox" checked={{this.isChecked}} onchange={{fn this.onCheck}} />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu" role="menubar">
      <li>
        <LinkTo @route="mission" class="a" onclick={{fn this.onCheck}}>Mission</LinkTo>
      </li>
      <li>
        <LinkTo @route="contact" class="a" onclick={{fn this.onCheck}}>Contact</LinkTo>
      </li>
      <li>
        <LinkTo @route="home" class="a" onclick={{fn this.onCheck}}>Home</LinkTo>
      </li>
    </ul>
  </div>
</nav>