<nav class="menu" role="navigation" aria-label="Main menu" aria-labelledby="main-navigation">
  <div id="menuToggle">
    <input type="checkbox" checked={{this.isChecked}} onchange={{fn this.onCheck}} aria-label="Open the menu"
      aria-checked={{this.isChecked}} />
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <ul id="menu" role="menubar">
      <li>
        <LinkTo @route="home" class="a" onclick={{fn this.onCheck}} aria-label="Home">Home</LinkTo>
      </li>
      <li>
        <LinkTo @route="mission" class="a" onclick={{fn this.onCheck}} aria-label="Mission">Mission</LinkTo>
      </li>
      <li>
        <LinkTo @route="projects" class="a" onclick={{fn this.onCheck}} aria-label="Projects">Projects</LinkTo>
      </li>
      <li>
        <LinkTo @route="contact" class="a" onclick={{fn this.onCheck}} aria-label="Contact">Contact</LinkTo>
      </li>
    </ul>
  </div>
</nav>