<div class="horizontal-list-image">
  {{#each @list as |item|}}
  <li>
    {{#if item.image}}
      <img src={{item.image}} alt={{item.name}}>
      <p>{{item.name}}</p>
    {{else}}
    <p><span class="red-highlight">{{item.name}}</span></p>
    {{/if}}
    <p>{{item.info}}</p>
  </li>
  {{/each}}
</div>