<div class="horizontal-list-image">
  {{#each @list as |item|}}
  <li>
    {{#if item.image}}
      <img src={{item.image}} alt={{item.name}}>
      <p>{{item.name}}</p>
    {{else}}
      {{#if item.link}}
        <p><a href={{item.link}} target='_blank' rel='noopener noreferrer' class='link'><span class="red-highlight">{{item.name}}</span></a></p>
      {{else}}
        <p><span class="red-highlight">{{item.name}}</span></p>
      {{/if}}
    {{/if}}
    {{#if item.infoHtml}}
      <p>{{{item.infoHtml}}}</p>
    {{else}}
      <p>{{item.info}}</p>
    {{/if}}
  </li>
  {{/each}}
</div>