<div class="vertical-class-image">
  {{#each @list as |item|}}
  <li>
    <img src={{item.image}} alt={{item.name}}>
    <div class="image-text">
      <h3>{{item.artist}}</h3>
      <h4>{{item.name}}</h4>
      <h4>{{item.medium}}</h4>
      <h4>{{item.year}}</h4>
      <p>{{item.info}}</p>
    </div>
  </li>
  {{/each}}
</div>