<div class="vertical-class-image">
  {{#each @list as |item|}}
  <li>
    {{#if item.image}}
      <img src={{item.image}} alt={{item.name}}>
    {{/if}}
    <div class="image-text">
      {{#if item.image}}
        <h3>{{item.artist}}</h3>
      {{else}}
        <h3><span class="red-highlight">{{item.artist}}</span></h3>
      {{/if}}
      <h4>{{item.name}}</h4>
      <h4>{{item.medium}}</h4>
      <h4>{{item.year}}</h4>
      {{#if item.infoHtml}}
      {{{item.infoHtml}}}
      {{else}}
      <p>{{item.info}}</p>
      {{/if}}
    </div>
  </li>
  {{/each}}
</div>