<TitleHeader @title={{@model.name}} @description={{@model.info}} />
<DonateButton />
<ImageLarge @image={{@model.image-2}} @altText={{@model.name}} />
<div class="wrapper">
  {{{@model.project}}}
  <Lists::NoBullets>
    <Lists::NoBullets::HorisontalList @list={{@model.partners}} />
  </Lists::NoBullets>
  {{#if @model.artists}}
  <h3>The residents 2021</h3>
  <Lists::NoBullets>
    <Lists::NoBullets::HorizontalListImage @list={{@model.artists}} />
  </Lists::NoBullets>
  {{/if}}
  {{#if @model.art}}
  <Lists::NoBullets>
    <Lists::NoBullets::VerticalListImage @list={{@model.art}} />
  </Lists::NoBullets>
  {{/if}}
  {{#if @model.advisors}}
  <h3>Residency advisory board</h3>
  <Lists::NoBullets>
    {{#each @model.advisors as |advisor|}}
    <li>
      <span><a href={{advisor.link}} target="_blank" rel="noopener noreferrer" class="names">{{advisor.name}}</a> -
        {{advisor.info}}</span>
    </li>
    {{/each}}
  </Lists::NoBullets>
  {{/if}}
</div>