<div class="exhibition-page">
<TitleHeader @title={{this.currentTitle}} @description={{this.currentDescription}}/>
  <DonateButton />
  <LanguageToggle @currentLanguage={{this.currentLanguage}} @onToggle={{this.toggleLanguage}} />
  <ImageLarge @image='https://res.cloudinary.com/dqqou4dzd/image/upload/v1767893720/Climate%20Art%20images/Halfway-to-the-Sun_invite-film-looped_evybpf.gif' @altText='gif of a car wheel spinning' />
<div class="wrapper" aria-label="exhibition page">
  <div class="current-project-wrapper">
  <div class="text text-no-hover">
    <h3>{{this.currentDates}}</h3>
    <p>{{this.currentDatesText}}</p>
    <h3>{{this.currentHours}}</h3>
    <p>{{this.currentHoursDay}}</p>
    <p>{{this.currentHoursTime}}</p>
    <h3>{{this.currentGallery}}</h3>
    <p>{{this.currentGalleryName}}</p>
    <p>{{this.currentGalleryAddress}}</p>
  </div>
  <p>
    {{this.currentParagraph1}}
  </p>
  <p>
    {{this.currentParagraph2}}
  </p>
  <p>
    {{this.currentParagraph3}}
  </p>
  <p>
    {{this.currentParagraph4}}
  </p>
  <p>
    {{this.currentParagraph5}}
  </p>
  <p>
    {{this.currentParagraph6}}
  </p>
  <p>{{this.currentParagraph7}}</p>
  <p>
    <em>{{this.currentSpecialThanks}}</em>
  </p>
  <h3><LinkTo class="hoveryellowred"  @route="current-projects" aria-label="current-project link">{{this.currentMoreInfoText}}</LinkTo></h3>
  <p>{{this.currentWithThanksTo}}</p>
    <ul class="no-bullets">
      <li class="horizontal-list">
        <a href="https://www.akt-uk.com/" target="_blank" rel="noopener noreferrer"><img style="height: 50px; width: 50px; margin-right: 10px;" src="https://res.cloudinary.com/dqqou4dzd/image/upload/f_auto/Climate%20Art%20images/logo/logo-AKTTwo_qhhvpf.png" alt="AKT II"></a>
      </li>
      <li class="horizontal-list">
        <a href="https://www.eustontown.com/" target="_blank" rel="noopener noreferrer"><img style="height: 35px; width: 85px; padding-bottom: 5px; margin-right: 10px;" src="https://res.cloudinary.com/dqqou4dzd/image/upload/v1727461126/euston-town_k3sinj.png" alt="Euston town logo"></a>
      </li>
      <li class="horizontal-list">
        <a href="https://transition.vc/" target="_blank" rel="noopener noreferrer"><img style="height: 35px; width: 105px; padding-bottom: 5px; margin-right: 10px;" src="https://res.cloudinary.com/dqqou4dzd/image/upload/v1768039088/Transition_Logo_White_Green_jgc7d6.png" alt="Transition Venture capital logo"></a>
      </li>
      <li class="horizontal-list">
        <a href="https://www.camden.gov.uk/" target="_blank" rel="noopener noreferrer"><img style="height: 35px; width: 117px; padding-bottom: 5px; margin-right: 10px;" src="https://res.cloudinary.com/dqqou4dzd/image/upload/v1768604319/camden_fstbgd.jpg" alt="Camden city council"></a>
      </li>
      <li class="horizontal-list">
        <a href="https://www.maylim.co.uk/" target="_blank" rel="noopener noreferrer"><img style="height: 35px; width: 110px; padding-bottom: 5px; margin-right: 10px;" src="https://res.cloudinary.com/dqqou4dzd/image/upload/v1768604326/maylim_g4bs1c.jpg" alt="Maylim"></a>
      </li>
    </ul>
  </div>
</div>
</div>