<TitleHeader @title={{this.model.name}} @description={{this.model.info}} />
<DonateButton />
<ImageLarge @image={{this.model.image-2}} @altText={{this.model.name}} />
<div class="wrapper">
  {{{this.model.project}}}
  <Lists::NoBullets>
    <Lists::NoBullets::HorisontalList @list={{this.model.partners}} />
  </Lists::NoBullets>
  {{#if this.model.artists}}
  <h3>The residents 2021</h3>
  <Lists::NoBullets>
    <Lists::NoBullets::HorizontalListImage @list={{this.model.artists}} />
  </Lists::NoBullets>
  {{/if}}
  {{#if this.model.art}}
  <Lists::NoBullets>
    <Lists::NoBullets::VerticalListImage @list={{this.model.art}} />
  </Lists::NoBullets>
  {{/if}}
  {{#if this.model.advisors}}
  <h3>Residency advisory board</h3>
  <Lists::NoBullets>
    {{#each this.model.advisors as |advisor|}}
    <li>
      <span>{{advisor.name}} - {{advisor.info}}</span>
    </li>
    {{/each}}
  </Lists::NoBullets>
  {{/if}}
</div>